@charset "UTF-8";
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/**
 * Returns a media context (media query / grid context) that can be stored in a variable and passed to `media()` as a single-keyword argument. Media contexts defined using `new-breakpoint` are used by the visual grid, as long as they are defined before importing Neat.
 *
 * @param {List} $query
 *   - A list of media query features and values. Each `$feature` should have a corresponding `$value`. If there is only a single `$value` in `$query`, `$default-feature` is going to be used. The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`). For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   $mobile: new-breakpoint(max-width 480px 4);
 *
 *   .element {
 *     @include media($mobile) {
 *       @include span-columns(4);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   @media screen and (max-width: 480px) {
 *     .element {
 *       display: block;
 *       float: left;
 *       margin-right: 7.42297%;
 *       width: 100%;
 *     }
 *     .element:last-child {
 *       margin-right: 0;
 *     }
 *   }
 */
/**
 * Sets the relative width of a single grid column. The unit used should be the same one used to define `$gutter`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with a `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the relative width of a single grid gutter. The unit used should be the same one used to define `$column`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
 *
 * @type Number (Unitless)
 */
/**
 * Sets the max-width property of the element that includes `outer-container()`. To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * When set to true, it sets the box-sizing property of all elements to `border-box`. Set with a `!global` flag.
 *
 * @type Bool
 *
 * @example css - CSS Output
 *   * {
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media) that `media()` and `new-breakpoint()` revert to when only a breakpoint value is passed. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Sets the default layout direction of the grid. Can be `LTR` or `RTL`. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Displays the visual grid when set to true. The overlaid grid may be few pixels off depending on the browser's rendering engine and pixel rounding algorithm. Set with the `!global` flag.
 *
 * @type Bool
 */
/**
 * Sets the visual grid color. Set with `!global` flag.
 *
 * @type Color
 */
/**
 * Sets the `z-index` property of the visual grid. Can be `back` (behind content) or `front` (in front of content). Set with `!global` flag.
 *
 * @type String
 */
/**
 * Sets the opacity property of the visual grid. Set with `!global` flag.
 *
 * @type Number (unitless)
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * Resets the active display property to `block`. Particularly useful when changing the display property in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table);
 *     // Context changed to table display
 *   }
 *
 *   @include reset-display;
 *   // Context is reset to block display
 */
/**
 * Resets the active layout direction to the default value set in `$default-layout-direction`. Particularly useful when changing the layout direction in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row($direction: RTL);
 *     // Context changed to right-to-left
 *   }
 *
 *   @include reset-layout-direction;
 *   // Context is reset to left-to-right
 */
/**
 * Resets both the active layout direction and the active display property.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table, RTL);
 *     // Context changed to table table and right-to-left
 *   }
 *
 *   @include reset-all;
 *   // Context is reset to block display and left-to-right
 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 100%;
  -webkit-font-smoothing: antialiased;
}

img {
  border: none;
}

section, header, nav, footer {
  display: block;
  position: relative;
  z-index: 2;
}

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

.inner-container {
  position: relative;
  z-index: 3;
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
}
.inner-container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 768px) {
  .inner-container {
    max-width: 748px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner-container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and (max-width: 480px) {
  .inner-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .inner-container:after {
    content: "";
    display: table;
    clear: both;
  }
}

.three-column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}
.three-column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .three-column {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 100%;
  }
  .three-column:last-child {
    margin-right: 0;
  }
}

.three-column_centered {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 17.0596085997%;
}
.three-column_centered:last-child {
  margin-right: 0;
}

.containing-column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 17.0596085997%;
}
.containing-column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .containing-column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-left: 0%;
  }
  .containing-column:last-child {
    margin-right: 0;
  }
}

.two-column {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 48.2106681966%;
}
.two-column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .two-column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .two-column:last-child {
    margin-right: 0;
  }
  .two-column:first-child {
    padding-left: 50px;
  }
  .two-column:last-child {
    padding-right: 50px;
  }
}

.message-column {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 100%;
}
.message-column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .message-column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .message-column:last-child {
    margin-right: 0;
  }
}

.row {
  display: block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #fff;
  font-size: 3.125em;
  font-weight: 300;
  text-align: center;
}

h2 {
  color: #2e3137;
  font-size: 1.875em;
  font-weight: 300;
}

h2.divide {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ededed;
}

h3 {
  color: #007b91;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  color: #2e3137;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 23px;
}

@font-face {
  font-family: 'nobol-icon';
  src: url("fonts/nobol.eot?6gk9qb");
  src: url("fonts/nobol.eot?#iefix6gk9qb") format("embedded-opentype"), url("fonts/nobol.woff?6gk9qb") format("woff"), url("fonts/nobol.ttf?6gk9qb") format("truetype"), url("fonts/nobol.svg?6gk9qb#nobol") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'nobol-icon';
  cursor: pointer;
}

.icon-logo:before {
  content: "";
  font-size: 3.5em;
  color: #fff;
  font-style: normal;
}

.icon-logo:before:hover {
  color: white;
}

.icon-contact:before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  font-style: normal;
}

.icon-contact:before:hover {
  color: white;
}

.icon-dwnArrowWhite:before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  font-style: normal;
}

.icon-dwnArrowWhite:before:hover {
  color: white;
}

.icon-dwnArrowGray:before {
  content: "";
  font-size: 1.5em;
  color: #ededed;
  font-style: normal;
}

.icon-dwnArrowGray:before:hover {
  color: #fafafa;
}

.icon-twitter:before {
  content: "";
  font-size: 0.9375em;
  color: #fff;
  font-style: normal;
}

.icon-twitter:before:hover {
  color: white;
}

.icon-facebook:before {
  content: "";
  font-size: 0.9375em;
  color: #fff;
  font-style: normal;
}

.icon-facebook:before:hover {
  color: white;
}

.icon-instagram:before {
  content: "";
  font-size: 0.9375em;
  color: #fff;
  font-style: normal;
}

.icon-instagram:before:hover {
  color: white;
}

.icon-googlePlus:before {
  content: "";
  font-size: 0.9375em;
  color: #fff;
  font-style: normal;
}

.icon-googlePlus:before:hover {
  color: white;
}

.icon-logoBug:before {
  content: "";
  font-size: 23em;
  color: rgba(255, 255, 255, 0.1);
  font-style: normal;
}

.icon-logoBug:before:hover {
  color: rgba(255, 255, 255, 0.1);
}

.icon-dwnArrowWhite {
  position: absolute;
  bottom: 30px;
  left: 49%;
  z-index: 1;
}

.icon-logoBug {
  position: absolute;
  left: 29.5%;
  top: 28px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .icon-logoBug {
    left: 22.5%;
  }
}

.computer-svg, .browser-svg, .identity-svg {
  position: absolute;
}

.computer-svg {
  top: 40px;
  left: 30px;
  height: 80px;
  width: 92px;
}

.browser-svg {
  top: 37px;
  left: 33px;
  height: 80px;
  width: 83px;
}

.identity-svg {
  top: 48px;
  left: 31px;
  width: 90px;
  height: 56px;
}

.btn {
  outline: none;
  padding: 15px 35px 15px 35px;
  text-align: center;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  width: 175px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 1em;
  -webkit-appearance: none;
}

.btn-orange {
  font-weight: 700;
  color: #fff;
  background: #f7c073;
  border: 1px solid #f7c073;
}
.btn-orange:hover {
  background: #f8cb8b;
}

.btn-outline {
  font-weight: 300;
  color: #fff;
  background: none;
  border: 1px solid #fff;
}
.btn-outline:hover {
  color: white;
  border-color: white;
}

.btn-blue {
  font-weight: 300;
  color: #fff;
  background: #007b91;
  border: 1px solid #007b91;
}
.btn-blue:hover {
  background: #0091ab;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100% !important;
}

body {
  height: 100% !important;
}

.notification {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}
.notification p {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

header {
  background: url("../img/header.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header h1 {
  margin-top: 200px;
  margin-bottom: 50px;
}

.top-container {
  position: relative;
  left: 0;
  background: #fff;
  z-index: 3;
}

nav {
  position: relative;
  padding-top: 40px;
}
nav .icon-contact {
  position: absolute;
  top: 16px;
  right: 0;
}

.bgoverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bgoverlay__header {
  background: rgba(46, 49, 55, 0.8);
}

.bgoverlay__testomonials {
  background: rgba(247, 192, 115, 0.8);
}

.bgoverlay__footer {
  background: rgba(46, 49, 55, 0.9);
}

.header__buttons--centered {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header__buttons--centered .btn {
  display: inline-block;
  vertical-align: top;
}
.header__buttons--centered .btn:first-child {
  margin-right: 15px;
}

.circle {
  margin: 0 auto;
  position: relative;
  border-radius: 100px;
  height: 2px;
  width: 2px;
  padding: 75px;
}

.circle__blue {
  background: #69B0BE;
}

.circle__orange {
  background: #f7c073;
}

.circle__white {
  background: #fff;
}

.circle__container {
  position: absolute;
  top: 3px;
  left: 3px;
  padding: 72px;
  overflow: hidden;
}
.circle__container img {
  position: absolute;
  top: -10px;
  left: -15px;
}

.services {
  padding-bottom: 100px;
}
.services p {
  text-align: center;
}
.services .three-column {
  margin-top: 80px;
}
.services h3 {
  margin-top: 25px;
  margin-bottom: 13px;
}

.quote {
  background: #2e3137;
  padding: 90px 0px;
}

.testomonials {
  background: url("../img/testomonials.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  padding-top: 100px;
}

.slideshow {
  width: 500px !important;
  margin: 0 auto;
}
.slideshow .slide {
  width: 500px !important;
}
.slideshow p {
  font-style: italic;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}
.slideshow p a {
  color: #fff;
  text-decoration: underline;
}

.pager-column {
  position: absolute;
  bottom: -113px;
}

#pager {
  text-align: center;
}
#pager a {
  position: relative;
  text-indent: -9999em;
  border-radius: 40px;
  width: 2px;
  height: 2px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin-right: 5px;
}
#pager .circle__small {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 0px;
  height: 0px;
  padding: 0px;
  border-radius: 40px;
  animation: empty .8s;
  -moz-animation: empty .8s;
  -webkit-animation: empty .8s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#pager .activeSlide .circle__small {
  animation: fill .8s;
  -moz-animation: fill .8s;
  -webkit-animation: fill .8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.person {
  font-weight: 700;
  font-style: normal;
}

.contact {
  padding-bottom: 35px;
}

input, textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ededed;
  color: #838383;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 11px;
  font-size: 0.875em;
  font-family: 'Raleway';
  font-weight: 500;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  border-color: #007b91;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

textarea {
  resize: none;
  height: 200px;
  margin-top: 15px;
}

form {
  margin-top: 45px;
}

.form__button--right {
  position: relative;
  width: 100%;
  margin-bottom: 55px;
}
.form__button--right .btn {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 768px) {
  .form__button--right .btn {
    right: 50px;
  }
}

footer {
  background: url("../img/footer.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
}
footer h1 {
  position: relative;
  z-index: 1;
  width: 100%;
  display: inline-block;
  margin-top: 180px;
  margin-bottom: 162px;
}
@media screen and (max-width: 768px) {
  footer h1 {
    margin-bottom: 150px;
  }
}
footer p {
  font-weight: 300;
  text-align: center;
  color: #fff;
  display: block;
}
footer p a {
  color: #fff;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: none;
}

div.fancy-select {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #2e3137;
}

div.fancy-select.disabled {
  opacity: 0.5;
}

div.fancy-select div.trigger {
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 24px 15px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background: none;
  border: 1px solid #ededed;
  color: #9d9d9d;
  width: 100%;
  font-family: 'Raleway';
  font-weight: 500;
  text-transform: none;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
  content: "\e604";
  display: block;
  font-family: 'nobol-icon';
  position: absolute;
  font-size: 0.9375em;
  color: #9d9d9d;
  top: 18px;
  right: 14px;
}

div.fancy-select div.trigger.open {
  border: 1px solid #007b91;
  box-shadow: none;
}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  width: 100%;
  overflow: auto;
  background: #f6f6f6;
  border-radius: 4px;
  min-width: 200px;
  text-transform: none;
  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 50px;
  opacity: 1;
  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px;
  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px;
  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 8px 12px;
  color: #9d9d9d;
  cursor: pointer;
  white-space: nowrap;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  background: #d0d0d0;
  color: #2e3137;
}

div.fancy-select ul.options li.hover {
  color: #fff;
  background: #d0d0d0;
}

@-webkit-keyframes fill {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
}
@-webkit-keyframes empty {
  from {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
  to {
    height: 0px;
    width: 0px;
  }
}
@-moz-keyframes fill {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
}
@-moz-keyframes empty {
  from {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
  to {
    height: 0px;
    width: 0px;
  }
}
@keyframes fill {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
}
@keyframes empty {
  from {
    height: 2px;
    width: 2px;
    padding: 6px;
    top: 0%;
    left: 2%;
  }
  to {
    height: 0px;
    width: 0px;
  }
}
.service1 {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.service1 img, .service2 {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.service2 img, .service3 {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.service3 img {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.skrollable-after .service1, .skrollable-after .service2, .skrollable-after .service3, .skrollable-after .service1 img, .skrollable-after .service2 img, .skrollable-after .service3 img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
