// Third Party Imports
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Modules and Variables

@import "partials/base";

//Partials
@import "partials/reset";
@import "partials/colors";
@import "partials/grid";
@import "partials/typography";
@import "partials/icons";
@import "partials/buttons";


//Custom CSS
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	height: 100% !important;
}
body {
	height: 100% !important;
}

//HEADER STYLES
header {
	@include bgcover(header, 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	h1 {
		margin-top: 200px;
		margin-bottom: 50px;
	}
}
.top-container {
	position: relative;
	left: 0;
	background: $white;
	z-index: 2;
}
nav {
	position: relative;
	padding-top: 40px;
	.icon-contact {
		position: absolute;
		top: 16px;
		right: 0;
	}
}
.bgoverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.bgoverlay__header {
	background: rgba($darkGray, 0.8);
}
.bgoverlay__testomonials {
	background: rgba($orange, 0.8);
}
.bgoverlay__footer {
	background: rgba($darkGray, 0.9);
}
.header__buttons--centered {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	.btn {
		display: inline-block;
		vertical-align: top;
		&:first-child {
			margin-right: 15px;
		}
	}
}
//SERVICES STYLES
.circle {
	margin: 0 auto;
	position: relative;
	border-radius: 100px;
	height: 2px;
	width: 2px;
	padding: 75px;
}
.circle__blue {
	background: $blue2;
}
.circle__orange {
	background: $orange;
}
.circle__white {
	background: $white;
}
.circle__container {
	position: absolute;
	top: 3px;
	left: 3px;
	padding: 72px;
	overflow: hidden;
	img {
		position: absolute;
		top: -10px;
		left: -15px;
	}
}
.services {
	padding-bottom: 100px;
	p {
		text-align: center;
	}
	.three-column {
		margin-top: 80px;
	}
	h3 {
		margin-top: 25px;
		margin-bottom: 13px;
	}
}

//QUOTE STYLES
.quote {
	background: $darkGray;
	padding: 90px 0px;
}

//TESTOMONIAL STYLES
.testomonials {
	@include bgcover(testomonials, 600px);
	padding-top: 100px;
}
.slideshow {
	width: 500px !important;
	margin: 0 auto;
	.slide {
		width: 500px !important;
	}
	p {
		font-style: italic;
		margin-top: 20px;
		color: $white;
		text-align: center;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}
.pager-column {
	position: absolute;
	bottom: -113px;
}
#pager {
	text-align: center;
	a {
		position: relative;
		text-indent: -9999em;
		border-radius: 40px;
		width: 2px;
		height: 2px;
		padding: 6px;
		//border: 1px solid $white;
		background: rgba($white, 0.4);
		display: inline-block;
		margin-right: 5px;
		//@include transition(all .3s ease-in-out);
	}
	.circle__small {
		position: absolute;
		top: 50%;
		left: 50%;
		background: $white;
		width: 0px;
		height: 0px;
		padding: 0px;
		border-radius: 40px;
		animation: empty .8s;
    -moz-animation: empty .8s;
    -webkit-animation: empty .8s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
	}
	.activeSlide {
		.circle__small {
			animation: fill .8s;
	    -moz-animation: fill .8s;
	    -webkit-animation: fill .8s;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
	    -webkit-transition-timing-function: ease-in;
	    transition-timing-function: ease-in;

		}
	}
}

.person {
	font-weight: $bold;
	font-style: normal;
}

//CONTACT STYLES
.contact {
	padding-bottom: 35px;
}
input, textarea {
	width: 100%;
	@include border-box();
	border-radius: 4px;
	border: 1px solid $lightGray;
	color: $darkGray;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-bottom: 11px;
	font-size: $primaryType;
	font-family: 'Raleway';
	font-weight: $medium;
	-webkit-appearance: none;
	&:focus {
		border-color: $blue;
		-webkit-appearance: none;
		@include noboxshad();
		outline: none;
	}
}
textarea {
	resize: none;
	height: 200px;
	margin-top: 15px;
}
form {
	margin-top: 45px;
}
.form__button--right {
	position: relative;
	width: 100%;
	margin-bottom: 55px;
	.btn {
		position: absolute;
		right: 0;
	}
}

//FOOTER STYLES
footer {
	@include bgcover(footer, 450px);
	h1 {
		position: relative;
		z-index: 1;
		width: 100%;
		display: inline-block;
		margin-top: 180px;
		margin-bottom: 172px;
	}
	p {
		font-weight: $light;
		text-align: center;
		color: $white;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
///////////////////////////////
//FANCY SELECT STYLES
///////////////////////////////
div.fancy-select {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	color: $darkGray;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select div.trigger {
	border-radius: 4px;
	cursor: pointer;
	padding: 15px 24px 15px 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: none;
	border: 1px solid $lightGray;
	color: darken($gray,35%);
	width: 100%;
	font-family: 'Raleway';
	font-weight: $medium;
	text-transform: none;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "\e604";
	display: block;
	font-family: 'nobol-icon';
	position: absolute;
	font-size: $size2;
	color: darken($gray, 35%);
	top: 18px;
	right: 14px;
}

div.fancy-select div.trigger.open {
	border: 1px solid $blue;
	box-shadow: none;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	width: 100%;
	overflow: auto;
	background: $gray;
	border-radius: 4px;
	min-width: 200px;
	text-transform: none;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 50px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px;
	color: darken($gray, 35%);
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: darken($gray, 15%);
	color: $darkGray;
}

div.fancy-select ul.options li.hover {
	color: #fff;
	background: darken($gray, 15%);
}


@import "modules/animations";

