// Third Party Imports
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Modules and Variables

@import "partials/base";

//Partials
@import "partials/reset";
@import "partials/colors";
@import "partials/grid";
@import "partials/typography";
@import "partials/icons";
@import "partials/buttons";


//Custom CSS
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
}

//HEADER STYLES
header {
	@include bgcover(header, 100%);
	h1 {
		margin-top: 200px;
		margin-bottom: 50px;
	}
}
nav {
	position: relative;
	padding-top: 40px;
	.icon-contact {
		position: absolute;
		top: 16px;
		right: 0;
	}
}
.bgoverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.bgoverlay__header {
	background: rgba($darkGray, 0.8);
}
.bgoverlay__testomonials {
	background: rgba($orange, 0.8);
}
.bgoverlay__footer {
	background: rgba($darkGray, 0.9);
}
//SERVICES STYLES
.circle {
	margin: 0 auto;
	position: relative;
	border-radius: 100px;
	height: 2px;
	width: 2px;
	padding: 75px;
}
.circle__blue {
	background: $blue2;
}
.circle__orange {
	background: $orange;
}
.services {
	padding-bottom: 100px;
	p {
		text-align: center;
	}
	.three-column {
		margin-top: 80px;
	}
	h3 {
		margin-top: 25px;
		margin-bottom: 13px;
	}
}

//QUOTE STYLES
.quote {
	background: $darkGray;
	padding: 90px 0px;
}

//TESTOMONIAL STYLES
.testomonials {
	@include bgcover(testomonials, 600px);
}

//CONTACT STYLES
.contact {
	padding-bottom: 35px;
}
input, textarea, .select-container {
	width: 100%;
	@include border-box();
	border-radius: 4px;
	border: 1px solid $lightGray;
	color: $darkGray;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-bottom: 11px;
	font-size: $primaryType;
}
textarea {
	resize: none;
}
form {
	margin-top: 45px;
}

//FOOTER STYLES
footer {
	@include bgcover(footer, 450px);
	h1 {
		position: relative;
		z-index: 1;
		width: 100%;
		display: inline-block;
		margin-top: 180px;
		margin-bottom: 172px;
	}
	p {
		font-weight: $light;
		text-align: center;
		color: $white;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}


//@import "modules/animations";

