$black: #000;
$white: #fff;
$orange: #f7c073;
$darkGray: #2e3137;
$gray: #f6f6f6;
$lightGray: #ededed;
$blue: #007b91;
$blue2: #69B0BE;
$red: #e12e34;
$green: #00bf61;

//::selection {
//	background: $navy; /* Safari */
//	color: $gray10;
//	}
//::-moz-selection {
//	background: $navy; /* Firefox */
//	color: $gray10;
//}
