$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 12);

section, header, nav, footer {
	display: block;
	position: relative;
	z-index: 2;
}
section {
	@include outer-container(100%);
}
.inner-container {
	position: relative;
	z-index: 2;
	@include outer-container(994px);
	@include media($tablet) {
		@include outer-container(748px);
	}
	@include media($mobile) {
		@include outer-container(100%);
		@include pad(0px 10px 0px 10px);
	}
}
.three-column {
	@include span-columns(4);
	@include media($mobile) {
		@include span-columns(4 of 4);
		display: block;
		float: none;
	}
}
.three-column_centered {
	@include span-columns(8);
	@include shift(2);
	@include media($mobile) {
		@include span-columns(4 of 4);
		@include shift(0);
		display: block;
		float: none;
	}
}
.containing-column {
	@include span-columns(8);
	@include shift(2);
	@include media($tablet) {
		@include span-columns(12);
		@include shift(0);
	}
	@include media($mobile) {
		@include span-columns(4);
		@include shift(0);
	}
}
.two-column {
	@include span-columns(4 of 8);
	@include media($tablet) {
		@include span-columns(6 of 12);
		&:first-child {
			padding-left: 50px;
		}
		&:last-child {
			padding-right: 50px;
		}
	}
	@include media($mobile) {
		@include span-columns(4 of 4);
		display: block;
		float: none;
		margin-bottom: 5px;
		padding: 0 !important;
	}
}
.message-column {
	@include span-columns(8 of 8);
	@include media($tablet) {
		@include span-columns(12 of 12);
		padding-left: 50px;
		padding-right: 50px;
	}
	@include media($mobile) {
		@include span-columns(4 of 4);
		padding: 0 !important;
	}
}
.row {
	@include row();
}
.clear{
	clear: both;
}